* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    height: 6rem;
    margin-bottom: 3rem;
}

header h1 {
    color: white;
    text-transform: capitalize;
}

.products {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;

}

img {
    padding: 10px;
    border-radius: 20px;
    width: 400px;
    transition: .2s;
}

p {
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: black;
}

.info {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer .info .Items p {
    color: white;
}

.goUP {
    width: 150px;
}

.icon {
    width: 6rem;
}

@media(max-width:886px) {
    footer {
        padding: 2rem;
    }

    .goUP {
        display: none;
    }
}

@media(max-width:800px) {
    .info {
        flex-direction: column;
    }

    .Items {
        padding: 1rem 0;
    }
}